<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwg4cheAIcWiyvAfh7_BsqHjvS44VWx0I</string>
	<key>GCM_SENDER_ID</key>
	<string>302101047993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gradutionProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>graduation-project-e8a09</string>
	<key>STORAGE_BUCKET</key>
	<string>graduation-project-e8a09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302101047993:ios:10f49a505eb369c1628968</string>
</dict>
</plist>